@font-face {
    font-family: Century-Gothic;
    src: url(/fonts/Century-Gothic/Century-Gothic.ttf);
}

@font-face {
    font-family: Century-Gothic;
    font-weight: bold;
    src: url(/fonts/Century-Gothic/Century-Gothic-bold.ttf);
}